:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  min-width: 50px;
}

td {
  border: 1px solid black;
  padding: 5px;
  min-width: 50px;
}

tr {
  border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tr.active-row {
  font-weight: bold;
  color: #009879;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.container {
  overflow-y: hidden;
  height: 100vh;
}

#spreadsheet {
  height: 100vh;
  overflow: auto;
}